body {
  margin: 0;
  padding: 0;
  background-color: hsl(185, 75%, 39%);
  text-align: center;
  font-family: "Kumbh Sans";
}

.card {
  width: 320px;
  height: 340px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.back-card-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px 15px 0 0;
}

.person-image {
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: 33%;
  border: 5px solid white;
}

.inf {
  margin-top: 20%;
}

span {
  color: hsl(0, 0%, 59%);
  font-weight: 700;
}

.inf p {
  margin-top: -4%;
  font-size: 0.9rem;
  color: hsl(0, 0%, 59%, 0.6);
  font-weight: 400;
  border-bottom: 2px solid hsl(0, 0%, 59%, 0.4);
  padding-bottom: 7%;
}

.footer {
  display: inline-flex;
  float: left;
  margin: -5% 0 0 17%;
}

.inf-footer {
  margin-right: 60%;
}

.letter-inf {
  display: inline-flex;
  margin-top: 5%;
  position: relative;
  right: 65%;
}

.letter-inf-discr {
  margin-left: 62%;
  margin-right: -5%;
  font-size: 0.7rem;
  color: hsl(0, 0%, 59%, 0.6);
}
